.home-bg-container {
  background-color: #161625;
  min-height: 90vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
